{% extends "index.html" %}
<head>
    <title>Jearn - Custom Test</title>
</head>
{% block content %}
<body>
    <form action = "/createtest" method="POST">
        <div>
            <label for="topic">What topic are you tested on?</label><br>
            <input id="topic" name="prompt" type="text" placeholder="Enter the topic">
        </div> 
        <br>
        <div>
            <label for="format">What format are you tested on?</label><br>
            <input id="format" name="format" type="text" placeholder="Enter the format">
        </div> 

        <button type = "submit">Submit</button>


    </form>
    <a href="{{ url_for('views.test', prompt='random', formats='written') }}">Give me a random topic!</a>
</html>
{% endblock %}