<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a test</title>
</head>
<body>
    <form action = "/createtest" method="POST">
        <div>
            <label for="topic">What topic are you tested on?</label><br>
            <input id="topic" name="topic" type="text" placeholder="Enter the topic">
        </div> 
        <br>
        <div>
            <label for="format">What format are you tested on?</label><br>
            <input id="format" name="format" type="text" placeholder="Enter the format">
        </div> 

        <button type = "submit">Submit</button>


    </form>

</html>