{% extends "index.html" %}

{% block content %}
<head>
    <title>Jearn - Home</title>
    <style>
        .hidden {
            display: none;
        }

        #revealButton {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <button id="revealButton">Reveal today's topic!</button>
    <div id="hiddenContent" class="hidden">
        <p>{{topic}}</p>
        <p>{{description}}</p>
        <p>{{examples}}</p>
    </div>

    <script>
        document.getElementById('revealButton').addEventListener('click', function() {
            var hiddenContent = document.getElementById('hiddenContent');
            if (hiddenContent.classList.contains('hidden')) {
                hiddenContent.classList.remove('hidden');
            } else {
                hiddenContent.classList.add('hidden');
            }
        });
    </script>
</body>
</html>
{% endblock %}