{% extends 'index.html' %}
{% block headers %}
    <title>Jearn - Reels</title>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{{ url_for('static', filename='reels.js') }}"></script>
    <style>
        .portrait-card {
            width: auto;
            height: calc(100vh - 59px);
            aspect-ratio: 9/16;
            overflow: hidden;
            position: relative;
        }

        .video-container {
            width: auto;
            height: 100%;
            overflow: hidden;
            position: relative;
        }

        .cropped-video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
        .btn-primary.open-notepad, 
        .links-next{
            background-color: transparent;  /* Make the background invisible */
            border: none;                   /* Remove any borders */
            padding: 0;                     /* Remove padding */
        }

        .btn-primary.open-notepad svg, 
        .links-next svg {
            fill: none;                     /* Keep the SVG fill transparent */
            stroke: #000000;                /* Set the SVG stroke color to black */
        }

        .btn-primary.open-notepad:hover, 
        .links-next:hover {
            background-color: transparent;  /* Keep background invisible on hover */
            border: none;                   /* No borders on hover */
        }

        .notepad-modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            height: 70%;
            background-color: white;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            z-index: 1000;
        }

        .btn.close-modal {
            position: absolute;
            top: 5px;
            right: 10px;
        }
        .reel-row{
            width: 100%
        }
    </style>
{% endblock %}

{% block content %}
<h1>Reels - {{topic}}</h1>
<hr>
<div class="container mt-5">
    <div class="scroll-container d-flex flex-row flex-wrap" style="scroll-snap-type: y mandatory;">
        <!-- Loop through reels_list and generate a section for each reel -->
        {% for reel in reels_list %}
        <div class="reel-row row justify-content-center align-items-center" id='section-{{ loop.index }}'>
            <div class="card text-center portrait-card" style="scroll-snap-align: start;">
                <div class="card-header">
                    {{ reel['title'] }}
                </div>
                <div class="card-body">
                    <div class="video-container">
                        <iframe class="cropped-video" id="player-{{ loop.index }}" src="https://www.youtube.com/embed/{{ reel.video_id }}?enablejsapi=1" allowfullscreen></iframe>
                    </div>
                    
                    <!-- Button to open the notepad modal -->
                    <!-- Notepad Modal -->
                    <div class="notepad-modal" id="notepad-modal-{{ loop.index }}" style="display: none;">
                        <button class="btn btn-danger close-modal">X</button>
                        <p>Add a note - optional<p>
                        <textarea id="note-content-{{ loop.index }}" class="form-control" placeholder="What have you learned?" style="height: 80%;"></textarea>
                        <button class="btn btn-success save-note mt-2" data-video-id="{{ reel['video_id'] }}" data-title="{{ reel['title'] }}" data-index="{{ loop.index }}">Save Video</button>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <button data-toggle="modal" data-target="#exampleModal"class="btn btn-primary open-notepad" data-video-id="{{ reel['video_id'] }}" data-title="{{ reel['title'] }}" data-index="{{ loop.index }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 15v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4M17 9l-5 5-5-5M12 12.8V2.5"/></svg>
                </button>
                <br>
                <a class='test-button links-next' href="#section-{{loop.index + 1}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Forms at the end of the scrollable container -->
    <hr>
    <div class="form-container mt-4 d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center">
            <form method="POST" class="p-4" id="continueForm" action="{{ url_for('views.reels') }}">
                <input type="hidden" name="topic" value="{{ topic }}">
                <button type="submit" class="test-button btn btn-secondary">More about {{ topic }}</button>
            </form>
            <form method="POST" class="p-4" id="recommendForm" action="{{ url_for('views.reels') }}">
                <input type="hidden" name="topic" value="recommend">
                <button type="submit" class="test-button btn btn-secondary">Random topic</button>
            </form>
        </div>
        
        <hr class="w-100 my-4">
        
        <form method="POST" id="topicForm" action="{{ url_for('views.reels') }}" class="w-50">
            <div class="d-flex">
                <input id="topic" name="topic" type="text" placeholder="Enter a custom topic" class="form-control me-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
        
    
</div>

<script>
$(document).ready(function() {
    // Open Notepad
    $('.open-notepad').click(function() {
        var index = $(this).data('index');
        $('#notepad-modal-' + index).toggle();
    });

    // Close Notepad
    $('.notepad-modal .close-modal').click(function() {
        $(this).closest('.notepad-modal').hide();
    });

    // Save Note
    $('.save-note').click(function() {
        var videoId = $(this).data('video-id');
        var videoTitle = $(this).data('title');
        var index = $(this).data('index');
        var noteContent = $('#note-content-' + index).val();

        $.ajax({
            type: 'POST',
            url: '/save_note',
            contentType: 'application/json',
            data: JSON.stringify({
                video_id: videoId,
                video_title: videoTitle, // Sending the video title along with the note
                note: noteContent
            }),
            success: function(response) {
                $('#notepad-modal-' + index).hide(); // Hide the notepad after saving
            }
        });
    });
});
</script>
{% endblock %}