<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a test</title>
</head>
<body>
    <form action = "/maketest" method="POST">
        <div>
            <label for="email">What subject?</label><br>
            <input id="subject" name="subject" type="text" placeholder="Enter the subject">
        </div>
        <br>

        <div>
            <label for="topic">What topic are you tested on?</label><br>
            <input id="topic" name="topic" type="text" placeholder="Enter the topic">
        </div> 

    </form>

    {% for question in questions %}
    {% question = question.split("\n")%}
    {% for i in question %}
    <p>{{i}}</p>
    {% endfor %}
    {% endfor %}
</body>
</html>