{% extends "index.html" %}
{% block headers %}
<head>
    <title>Jearn - Custom Test</title>
</head>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <form method="POST">
        {% set i = 0 %}
        {% for question in questionswc %}
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{i+1}}. </h5>
                    <p class="card-text">{{ question }}</p>
                    
                    {% if formats.lower() == "mcq" %}
                        <input type="hidden" id="answer{{ i }}" name="answer{{ i }}" value="">
                        <div class="btn-group-vertical" role="group" aria-label="Question {{ i + 1 }} choices">
                            {% set choices = questionswc[question]['choices'] %}
                            {% for j in range(0, 4) %}
                                <button type="button" class="test-button button btn btn-outline-primary mb-2" 
                                        id="choice{{i}}"
                                        onclick="setAnswer({{i}}, '{{ choices[j] }}', {{j}})">
                                    {{j}}. {{ choices[j] }}
                                </button>
                            {% endfor %}
                        </div>
                    {% else %}
                        <input id="answer{{ i }}" name="answer{{ i }}" type="text" class="form-control" placeholder="Enter your answer">
                    {% endif %}
                </div>
            </div>
            {% set i = i + 1 %}
        {% endfor %}
        <div class="text-center">
            <button type="submit" class="test-button btn btn-success btn-lg">Submit</button>
        </div>
    </form>
</div>

<script>
    function setAnswer(questionIndex, choice, choiceIndex) {
        document.getElementById('answer' + questionIndex).value = choice;

        let buttons = document.querySelectorAll(`button[id^='choice${questionIndex}']`);

        buttons.forEach(button => {
            button.classList.remove('btn-primary');
            button.classList.add('btn-outline-primary');
        });

        document.getElementById('choice' + questionIndex + choiceIndex).classList.remove('btn-outline-primary');
        document.getElementById('choice' + questionIndex + choiceIndex).classList.add('btn-primary');
    }
</script>
{% endblock %}