<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jearn Testing</title>
</head>
<body>
    <form method = "POST">
        <label>ChatGPT Preference</label>
        <input name="age" type="number" placeholder="what grade are you in?">
        <input name="prompt" type="text" placeholder="What are you interested in?">
        <input type="submit">	

    </form>
    
    <h1> ChatGPT Reply</h1>
    <p> {{reply}}</p>

</body>
</html>