/* index.css */

/* Adjust spacing of navbar items */
.navbar-nav .nav-item {
    margin-right: 15px; /* Adjust the value as needed for spacing */
}

.navbar-nav .nav_item:last-child{
    margin-left: auto
}

/* .navbar{
    position: fixed;
} */
/* index.css */

body {
    font-family: 'Sarabun', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Sarabun', sans-serif;
}

a:not(.sidebar-button):not(.navbar a) {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a:not(.sidebar-button):not(.navbar a):hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

button {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:hover {
    background-color: #0056b3;
    border-color: #004085;
}